USE [CA_ODS]
GO
/****** Object:  StoredProcedure [prtl].[prod_build_match_srvc_type_category]    Script Date: 1/29/2014 1:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [prtl].[prod_build_match_srvc_type_category] as 

if object_id(N'dbo.ref_match_srvc_type_category',N'U') is not null drop table [ref_match_srvc_type_category]
CREATE TABLE [dbo].[ref_match_srvc_type_category](
	[filter_srvc_type] [decimal](18, 0) NOT NULL,
	[fl_family_focused_services] [int] NOT NULL,
	[fl_child_care] [int] NOT NULL,
	[fl_therapeutic_services] [int] NOT NULL,
	[fl_mh_services] [int] NOT NULL,
	[fl_receiving_care] [int] NOT NULL,
	[fl_family_home_placements] [int] NOT NULL,
	[fl_behavioral_rehabiliation_services] [int] NOT NULL,
	[fl_other_therapeutic_living_situations] [int] NOT NULL,
	[fl_specialty_adolescent_services] [int] NOT NULL,
	[fl_respite] [int] NOT NULL,
	[fl_transportation] [int] NOT NULL,
	[fl_clothing_incidentals] [int] NOT NULL,
	[fl_sexually_aggressive_youth] [int] NOT NULL,
	[fl_adoption_support] [int] NOT NULL,
	[fl_various] [int] NOT NULL,
	[fl_medical] [int] NOT NULL,
	cd_subctgry_poc_fr int not null default 0
 PRIMARY KEY  
(
	[filter_srvc_type] ASC,cd_subctgry_poc_fr asc
)) ON [PRIMARY]




insert into dbo.[ref_match_srvc_type_category] ( [filter_srvc_type]
      ,[fl_family_focused_services]
      ,[fl_child_care]
      ,[fl_therapeutic_services]
      ,[fl_mh_services]
      ,[fl_receiving_care]
      ,[fl_family_home_placements]
      ,[fl_behavioral_rehabiliation_services]
      ,[fl_other_therapeutic_living_situations]
      ,[fl_specialty_adolescent_services]
      ,[fl_respite]
      ,[fl_transportation]
      ,[fl_clothing_incidentals]
      ,[fl_sexually_aggressive_youth]
      ,[fl_adoption_support]
      ,[fl_various]
      ,[fl_medical])
SELECT distinct power(10.0,16) + 
				   (fl_family_focused_services * 1000000000000000) + 
								(fl_child_care * 100000000000000) + 
								(fl_therapeutic_services * 10000000000000) + 
								(fl_mh_services * 1000000000000) + 
								(fl_receiving_care * 100000000000) + 
								(fl_family_home_placements * 10000000000) + 
								(fl_behavioral_rehabiliation_services * 1000000000) + 
								(fl_other_therapeutic_living_situations * 100000000) + 
								(fl_specialty_adolescent_services * 10000000) + 
								(fl_respite * 1000000) + 
								(fl_transportation * 100000) + 
								(fl_clothing_incidentals * 10000) + 
								(fl_sexually_aggressive_youth * 1000) + 
								(fl_adoption_support * 100) + 
								(fl_various * 10) + 
								(fl_medical * 1) as filter_service_category
      ,[fl_family_focused_services]
      ,[fl_child_care]
      ,[fl_therapeutic_services]
      ,[fl_mh_services]
      ,[fl_receiving_care]
      ,[fl_family_home_placements]
      ,[fl_behavioral_rehabiliation_services]
      ,[fl_other_therapeutic_living_situations]
      ,[fl_specialty_adolescent_services]
      ,[fl_respite]
      ,[fl_transportation]
      ,[fl_clothing_incidentals]
      ,[fl_sexually_aggressive_youth]
      ,[fl_adoption_support]
      ,[fl_various]
      ,[fl_medical]
  FROM [base].[episode_payment_services]
  union 
  select distinct
  power(10.0,16) + 
				   (fl_family_focused_services * 1000000000000000) + 
								(fl_child_care * 100000000000000) + 
								(fl_therapeutic_services * 10000000000000) + 
								(fl_mh_services * 1000000000000) + 
								(fl_receiving_care * 100000000000) + 
								(fl_family_home_placements * 10000000000) + 
								(fl_behavioral_rehabiliation_services * 1000000000) + 
								(fl_other_therapeutic_living_situations * 100000000) + 
								(fl_specialty_adolescent_services * 10000000) + 
								(fl_respite * 1000000) + 
								(fl_transportation * 100000) + 
								(fl_clothing_incidentals * 10000) + 
								(fl_sexually_aggressive_youth * 1000) + 
								(fl_adoption_support * 100) + 
								(fl_various * 10) + 
								(fl_medical * 1) as filter_service_category
      ,[fl_family_focused_services]
      ,[fl_child_care]
      ,[fl_therapeutic_services]
      ,[fl_mh_services]
      ,[fl_receiving_care]
      ,[fl_family_home_placements]
      ,[fl_behavioral_rehabiliation_services]
      ,[fl_other_therapeutic_living_situations]
      ,[fl_specialty_adolescent_services]
      ,[fl_respite]
      ,[fl_transportation]
      ,[fl_clothing_incidentals]
      ,[fl_sexually_aggressive_youth]
      ,[fl_adoption_support]
      ,[fl_various]
      ,[fl_medical]
	  from base.tbl_ihs_episodes

	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
			into #temp
	  from [ref_match_srvc_type_category] ref
	  join (select 1 as cd_subctgry_poc_fr,1 as fl_family_focused_services) q on q.fl_family_focused_services = ref.fl_family_focused_services
	  UNION
	  	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join	    (select 2 as cd_subctgry_poc_fr,1 as fl_child_care) q on q.fl_child_care=ref.fl_child_care 
	  UNION
	  	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join		  (select 3 as cd_subctgry_poc_fr,1 as fl_therapeutic_services) q on q.fl_therapeutic_services=ref.fl_therapeutic_services
	   UNION
	  	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join		    (select 4 as cd_subctgry_poc_fr,1 as fl_mh_services) q on q.fl_mh_services=ref.fl_mh_services 
	  UNION
	  	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join			  (select 5 as cd_subctgry_poc_fr,1 as fl_receiving_care) q on q.fl_receiving_care=ref.fl_receiving_care 
	  UNION
	  	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join			    (select 6 as cd_subctgry_poc_fr,1 as fl_family_home_placements) q on q.fl_family_home_placements=ref.fl_family_home_placements
	  	 UNION
		  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join	 (select 7 as cd_subctgry_poc_fr,1 as fl_behavioral_rehabiliation_services) q on q.fl_behavioral_rehabiliation_services=ref.fl_behavioral_rehabiliation_services
	UNION  	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join				    (select 8 as cd_subctgry_poc_fr,1 as fl_other_therapeutic_living_situations) q on q.fl_other_therapeutic_living_situations=ref.fl_other_therapeutic_living_situations
	 UNION	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join	 (select 9 as cd_subctgry_poc_fr,1 as fl_specialty_adolescent_services) q on q.fl_specialty_adolescent_services=ref.fl_specialty_adolescent_services
	  	union
		  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join					    (select 10 as cd_subctgry_poc_fr,1 as fl_respite) q on q.fl_respite=ref.fl_respite
	  UNION	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join	(select 11 as cd_subctgry_poc_fr,1 as fl_transportation) q on q.fl_transportation=ref.fl_transportation
	  UNION	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join		    (select 12 as cd_subctgry_poc_fr,1 as fl_clothing_incidentals) q on q.fl_clothing_incidentals=ref.fl_clothing_incidentals
	 UNION 	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join  (select 13 as cd_subctgry_poc_fr,1 as fl_sexually_aggressive_youth) q on q.fl_sexually_aggressive_youth=ref.fl_sexually_aggressive_youth
	  UNION	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join    (select 14 as cd_subctgry_poc_fr,1 as fl_adoption_support) q on q.fl_adoption_support=ref.fl_adoption_support
	  UNION	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join	  (select 15 as cd_subctgry_poc_fr,1 as fl_various) q on q.fl_various=ref.fl_various
	  UNION	  select ref.filter_srvc_type
			,ref.fl_family_focused_services
			,ref.fl_child_care
			,ref.fl_therapeutic_services
			,ref.fl_mh_services
			,ref.fl_receiving_care
			,ref.fl_family_home_placements
			,ref.fl_behavioral_rehabiliation_services
			,ref.fl_other_therapeutic_living_situations
			,ref.fl_specialty_adolescent_services
			,ref.fl_respite
			,ref.fl_transportation
			,ref.fl_clothing_incidentals
			,ref.fl_sexually_aggressive_youth
			,ref.fl_adoption_support
			,ref.fl_various
			,ref.fl_medical
			,q.cd_subctgry_poc_fr
	  from [ref_match_srvc_type_category] ref
	  join    (select 16 as cd_subctgry_poc_fr,1 as fl_medical) q on q.fl_medical=ref.fl_medical

	  truncate table [ref_match_srvc_type_category]
	  insert into [ref_match_srvc_type_category] ( [filter_srvc_type]
      ,[fl_family_focused_services]
      ,[fl_child_care]
      ,[fl_therapeutic_services]
      ,[fl_mh_services]
      ,[fl_receiving_care]
      ,[fl_family_home_placements]
      ,[fl_behavioral_rehabiliation_services]
      ,[fl_other_therapeutic_living_situations]
      ,[fl_specialty_adolescent_services]
      ,[fl_respite]
      ,[fl_transportation]
      ,[fl_clothing_incidentals]
      ,[fl_sexually_aggressive_youth]
      ,[fl_adoption_support]
      ,[fl_various]
      ,[fl_medical]
	  ,cd_subctgry_poc_fr)
	  select  [filter_srvc_type]
      ,[fl_family_focused_services]
      ,[fl_child_care]
      ,fl_therapeutic_services
      ,[fl_mh_services]
      ,[fl_receiving_care]
      ,[fl_family_home_placements]
      ,[fl_behavioral_rehabiliation_services]
      ,[fl_other_therapeutic_living_situations]
      ,[fl_specialty_adolescent_services]
      ,[fl_respite]
      ,[fl_transportation]
      ,[fl_clothing_incidentals]
      ,[fl_sexually_aggressive_youth]
      ,[fl_adoption_support]
      ,[fl_various]
      ,[fl_medical]
	  ,cd_subctgry_poc_fr
	   from #temp




GO
