USE [CA_ODS]
GO
/****** Object:  StoredProcedure [dbo].[load_drop_error_tables]    Script Date: 3/4/2014 9:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[load_drop_error_tables]
as



IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ABUSE_FACT]') AND type in (N'U'))
DROP TABLE [dbo].[ZERR_ABUSE_FACT]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ABUSE_TYPE_DIM]') AND type in (N'U'))
DROP TABLE [dbo].[ZERR_ABUSE_TYPE_DIM]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ADOPTION_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_ADOPTION_FACT

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ADOPTION_STATUS_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_ADOPTION_STATUS_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_AGREEMENT_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_AGREEMENT_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ALLEGATION_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_ALLEGATION_FACT

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ASSIGNMENT_ATTRIBUTE_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_ASSIGNMENT_ATTRIBUTE_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ASSIGNMENT_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_ASSIGNMENT_FACT

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_AUTHORIZATION_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_AUTHORIZATION_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_AUTHORIZATION_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_AUTHORIZATION_FACT

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_CALENDAR_DIM]') AND type in (N'U'))
DROP TABLE [dbo].[ZERR_CALENDAR_DIM]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_CASE_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_CASE_DIM


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_CASE_NOTE_TYPE_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_CASE_NOTE_TYPE_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_CASE_NOTE_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_CASE_NOTE_FACT



IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_CASE_PARTICIPANT_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_CASE_PARTICIPANT_FACT

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_CHART_OF_ACCOUNTS_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_CHART_OF_ACCOUNTS_DIM


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_DISCHARGE_REASON_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_DISCHARGE_REASON_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_DISPOSITION_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_DISPOSITION_DIM


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_DLR_RISK_ASSESSMENT_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_DLR_RISK_ASSESSMENT_FACT

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_EDUCATION_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_EDUCATION_DIM


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_EDUCATION_PLAN_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_EDUCATION_PLAN_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_EDUCATION_RECORDS_REQUEST_REFERRAL_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_EDUCATION_RECORDS_REQUEST_REFERRAL_DIM


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ELIGIBILITY_REMOVAL_HOME_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_ELIGIBILITY_REMOVAL_HOME_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ELIGIBILITY_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_ELIGIBILITY_FACT




IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ELIGIBILITY_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_ELIGIBILITY_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ELIG_EPISODE_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_ELIG_EPISODE_FACT

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_ELIGIBILITY_STATUS_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_ELIGIBILITY_STATUS_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_FAMILY_STRUCTURE_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_FAMILY_STRUCTURE_DIM


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_FINDINGS_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_FINDINGS_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_HEALTH_ACTIVITY_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_HEALTH_ACTIVITY_FACT

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_HEALTH_ACTIVITY_TYPE_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_HEALTH_ACTIVITY_TYPE_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_HEALTH_CAT_ATTRIBUTE_BRIDGE_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_HEALTH_CAT_ATTRIBUTE_BRIDGE_FACT


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_INTAKE_ATTRIBUTE_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_INTAKE_ATTRIBUTE_DIM

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_INTAKE_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_INTAKE_FACT



IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_INTAKE_TYPE_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_INTAKE_TYPE_DIM


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_INTAKE_SERVICE_BRIDGE_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_INTAKE_SERVICE_BRIDGE_FACT

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_INTAKE_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_INTAKE_FACT

if OBJECT_ID(N'ZERR_INTAKE_PARTICIPANT_FACT',N'U') is not null drop table ZERR_INTAKE_PARTICIPANT_FACT

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_INTAKE_PARTICIPANT_ROLES_DIM]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_INTAKE_PARTICIPANT_ROLES_DIM


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZERR_INTAKE_VICTIM_FACT]') AND type in (N'U'))
DROP TABLE [dbo].ZERR_INTAKE_VICTIM_FACT


IF OBJECT_ID(N'ZERR_INVESTIGATION_ASSESSMENT_FACT',N'U') is not null 
drop table ZERR_INVESTIGATION_ASSESSMENT_FACT  

IF OBJECT_ID(N'ZERR_INVESTIGATION_TYPE_DIM',N'U') is not null 
drop table ZERR_INVESTIGATION_TYPE_DIM  

IF OBJECT_ID(N'ZERR_LEGAL_ACTION_DIM',N'U') is not null 
drop table ZERR_LEGAL_ACTION_DIM  

IF OBJECT_ID(N'ZERR_LEGAL_AGGRAVATED_CIRCUMSTANCES_FACT',N'U') is not null 
drop table ZERR_LEGAL_AGGRAVATED_CIRCUMSTANCES_FACT  

IF OBJECT_ID(N'ZERR_LEGAL_FACT',N'U') is not null 
drop table ZERR_LEGAL_FACT  

IF OBJECT_ID(N'ZERR_LEGAL_JURISDICTION_DIM',N'U') is not null 
drop table ZERR_LEGAL_JURISDICTION_DIM  

IF OBJECT_ID(N'ZERR_LEGAL_RESULT_DIM',N'U') is not null 
drop table ZERR_LEGAL_RESULT_DIM  

IF OBJECT_ID(N'ZERR_LEGAL_STATUS_DIM',N'U') is not null 
drop table ZERR_LEGAL_STATUS_DIM  

IF OBJECT_ID(N'ZERR_LEGAL_TPR_REFERRAL_FACT',N'U') is not null 
drop table ZERR_LEGAL_TPR_REFERRAL_FACT  

IF OBJECT_ID(N'ZERR_LICENSE_ACTION_FACT',N'U') is not null 
drop table ZERR_LICENSE_ACTION_FACT  

IF OBJECT_ID(N'ZERR_LEGAL_AGGRAVATED_CIRCUMSTANCES_FACT',N'U') is not null 
drop table ZERR_LEGAL_AGGRAVATED_CIRCUMSTANCES_FACT  

IF OBJECT_ID(N'ZERR_LICENSE_ATTRIB_DIM',N'U') is not null 
drop table ZERR_LICENSE_ATTRIB_DIM  

IF OBJECT_ID(N'ZERR_LICENSE_FACT',N'U') is not null 
drop table ZERR_LICENSE_FACT  

IF OBJECT_ID(N'ZERR_LOCATION_DIM',N'U') is not null 
drop table ZERR_LOCATION_DIM  



IF OBJECT_ID(N'ZERR_MENTAL_HEALTH_EVAL_DIM',N'U') is not null 
drop table ZERR_MENTAL_HEALTH_EVAL_DIM  

IF OBJECT_ID(N'ZERR_PAYMENT_DETAIL_DIM',N'U') is not null 
drop table ZERR_PAYMENT_DETAIL_DIM  

IF OBJECT_ID(N'ZERR_PAYMENT_DETAIL_FACT',N'U') is not null 
drop table ZERR_PAYMENT_DETAIL_FACT 

IF OBJECT_ID(N'ZERR_PAYMENT_DIM',N'U') is not null 
drop table ZERR_PAYMENT_DIM  

IF OBJECT_ID(N'ZERR_PAYMENT_FACT',N'U') is not null 
drop table ZERR_PAYMENT_FACT  

IF OBJECT_ID(N'ZERR_PEOPLE_DIM',N'U') is not null 
drop table [ZERR_PEOPLE_DIM]  

IF OBJECT_ID(N'ZERR_PERMANENCY_FACT',N'U') is not null 
drop table [ZERR_PERMANENCY_FACT]  

IF OBJECT_ID(N'ZERR_PERMANENCY_PLAN_DIM',N'U') is not null 
drop table [ZERR_PERMANENCY_PLAN_DIM]  

IF OBJECT_ID(N'ZERR_PLACEMENT_CARE_AUTH_DIM',N'U') is not null 
drop table [ZERR_PLACEMENT_CARE_AUTH_DIM]  

IF OBJECT_ID(N'ZERR_PLACEMENT_CARE_AUTH_FACT',N'U') is not null 
drop table [ZERR_PLACEMENT_CARE_AUTH_FACT]  

IF OBJECT_ID(N'ZERR_PLACEMENT_FACT',N'U') is not null 
drop table [ZERR_PLACEMENT_FACT]  

IF OBJECT_ID(N'ZERR_PLACEMENT_RESULT_DIM',N'U') is not null 
drop table [ZERR_PLACEMENT_RESULT_DIM]  

IF OBJECT_ID(N'ZERR_PLACEMENT_TYPE_DIM',N'U') is not null
 drop table [ZERR_PLACEMENT_TYPE_DIM]  
 
IF OBJECT_ID(N'ZERR_PRE_ADOPTION_LEGAL_FACT',N'U') is not null 
drop table [ZERR_PRE_ADOPTION_LEGAL_FACT]  

IF OBJECT_ID(N'ZERR_PRIMARY_ASSIGNMENT_FACT',N'U') is not null 
drop table [ZERR_PRIMARY_ASSIGNMENT_FACT]  

IF OBJECT_ID(N'ZERR_PROVIDER_DIM',N'U') is not null 
drop table [ZERR_PROVIDER_DIM]  

IF OBJECT_ID(N'ZERR_PROVIDER_NOTES_TYPE_DIM',N'U') is not null 
drop table [ZERR_PROVIDER_NOTES_TYPE_DIM]  

IF OBJECT_ID(N'ZERR_PROVIDER_PART_FACT',N'U') is not null
 drop table [ZERR_PROVIDER_PART_FACT]  
 
IF OBJECT_ID(N'ZERR_PROVIDER_SERVICE_LICENSE_FACT',N'U') is not null 
drop table [ZERR_PROVIDER_SERVICE_LICENSE_FACT]  

IF OBJECT_ID(N'ZERR_RELATIONSHIP_DIM',N'U') is not null 
drop table [ZERR_RELATIONSHIP_DIM]  

IF OBJECT_ID(N'ZERR_REMOVAL_DIM',N'U') is not null 
drop table [ZERR_REMOVAL_DIM]  

IF OBJECT_ID(N'ZERR_REMOVAL_EPISODE_FACT',N'U') is not null 
drop table [ZERR_REMOVAL_EPISODE_FACT]  

IF OBJECT_ID(N'ZERR_REPEAT_MALTREATMENT_FACT',N'U') is not null 
drop table [ZERR_REPEAT_MALTREATMENT_FACT]  

IF OBJECT_ID(N'ZERR_RESPONSE_TIME_EXP_DIM',N'U') is not null 
drop table [ZERR_RESPONSE_TIME_EXP_DIM]  

IF OBJECT_ID(N'ZERR_RGAP_AGREEMENT_ATTRIBUTE_DIM',N'U') is not null
 drop table [ZERR_RGAP_AGREEMENT_ATTRIBUTE_DIM]  
 
IF OBJECT_ID(N'ZERR_RGAP_AGREEMENT_FACT',N'U') is not null 
drop table [ZERR_RGAP_AGREEMENT_FACT]  

IF OBJECT_ID(N'ZERR_RGAP_ELIGIBILITY_FACT',N'U') is not null 
drop table [ZERR_RGAP_ELIGIBILITY_FACT]  

IF OBJECT_ID(N'ZERR_RGAP_ELIGIBILITY_STATUS_DIM',N'U') is not null 
drop table [ZERR_RGAP_ELIGIBILITY_STATUS_DIM]  

IF OBJECT_ID(N'ZERR_SAFETY_ASSESSMENT_FACT',N'U') is not null 
drop table [ZERR_SAFETY_ASSESSMENT_FACT]  

IF OBJECT_ID(N'ZERR_SCHOOL_DIM',N'U') is not null 
drop table [ZERR_SCHOOL_DIM]  

IF OBJECT_ID(N'ZERR_SERVICE_FACT',N'U') is not null 
drop table [ZERR_SERVICE_FACT]  

IF OBJECT_ID(N'ZERR_SERVICE_REFERRAL_DIM',N'U') is not null 
drop table [ZERR_SERVICE_REFERRAL_DIM]  

IF OBJECT_ID(N'ZERR_SERVICE_TYPE_DIM',N'U') is not null 
drop table [ZERR_SERVICE_TYPE_DIM]  

IF OBJECT_ID(N'ZERR_SIBLING_RELATIONSHIP_FACT',N'U') is not null 
drop table [ZERR_SIBLING_RELATIONSHIP_FACT]  

IF OBJECT_ID(N'ZERR_SOURCE_FUNDS_DIM',N'U') is not null 
drop table [ZERR_SOURCE_FUNDS_DIM]  

IF OBJECT_ID(N'ZERR_SUBSTANCE_ABUSE_WIZARD_FACT',N'U') is not null 
drop table [ZERR_SUBSTANCE_ABUSE_WIZARD_FACT]  

IF OBJECT_ID(N'ZERR_TRIBE_ATTRIBUTE_DIM',N'U') is not null
 drop table [ZERR_TRIBE_ATTRIBUTE_DIM]  
 
IF OBJECT_ID(N'ZERR_TRIBE_DIM',N'U') is not null 
drop table [ZERR_TRIBE_DIM]  

IF OBJECT_ID(N'ZERR_TRIBE_FACT',N'U') is not null 
drop table [ZERR_TRIBE_FACT]  

IF OBJECT_ID(N'ZERR_WORKER_DIM',N'U') is not null 
drop table [ZERR_WORKER_DIM]  
IF OBJECT_ID(N'ZERR_TRAINING_FACT',N'U') is not null DROP TABLE dbo.ZERR_TRAINING_FACT
IF OBJECT_ID(N'ZERR_EDUCATION_FACT',N'U') is not null DROP TABLE dbo.ZERR_EDUCATION_FACT
IF OBJECT_ID(N'ZERR_EDUCATION_PLAN_FACT',N'U') is not null DROP TABLE dbo.ZERR_EDUCATION_PLAN_FACT
IF OBJECT_ID(N'ZERR_IL_ANSELL_CASEY_ASSESSMENT_FACT',N'U') is not null DROP TABLE dbo.ZERR_IL_ANSELL_CASEY_ASSESSMENT_FACT
IF OBJECT_ID(N'ZERR_IL_NYTD_QUESTIONS_ATTRIBUTE_DIM',N'U') is not null DROP TABLE dbo.ZERR_IL_NYTD_QUESTIONS_ATTRIBUTE_DIM
IF OBJECT_ID(N'ZERR_IL_NYTD_QUESTIONS_FACT',N'U') is not null DROP TABLE dbo.ZERR_IL_NYTD_QUESTIONS_FACT
IF OBJECT_ID(N'ZERR_TRAINING_FACT',N'U') is not null DROP TABLE dbo.ZERR_TRAINING_FACT
IF OBJECT_ID(N'ZERR_TRAINING_TYPE_DIM',N'U') is not null DROP TABLE dbo.ZERR_TRAINING_TYPE_DIM
IF OBJECT_ID(N'ZERR_INDEPENDENT_LIVING_BRIDGE_FACT',N'U') is not null DROP TABLE dbo.ZERR_INDEPENDENT_LIVING_BRIDGE_FACT
IF OBJECT_ID(N'ZERR_INDEPENDENT_LIVING_FACT',N'U') is not null DROP TABLE dbo.ZERR_INDEPENDENT_LIVING_FACT
IF OBJECT_ID(N'ZERR_TANF_FACT',N'U') is not null DROP TABLE dbo.ZERR_TANF_FACT
IF OBJECT_ID(N'ZERR_TANF_DIM',N'U') is not null DROP TABLE dbo.ZERR_TANF_DIM
IF OBJECT_ID(N'ZERR_EDUCATION_RECORDS_REQUEST_REFERRAL_FACT',N'U') is not null DROP TABLE dbo.ZERR_EDUCATION_RECORDS_REQUEST_REFERRAL_FACT
IF OBJECT_ID(N'zerr_rptPlacement',N'U') is not null DROP TABLE dbo.zerr_rptPlacement
IF OBJECT_ID(N'zerr_rptPlacement_Events',N'U') is not null DROP TABLE dbo.zerr_rptPlacement_Events

IF OBJECT_ID(N'ZERR_CASE_PARTICIPANT_STATUS_DIM',N'U') is not null DROP TABLE dbo.ZERR_CASE_PARTICIPANT_STATUS_DIM
