USE [CA_ODS]
GO
/****** Object:  StoredProcedure [prtl].[poc2ab_params_backup]    Script Date: 1/29/2014 1:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [prtl].[poc2ab_params_backup] 
as


truncate table prtl.cache_poc2ab_params;


insert into prtl.cache_poc2ab_params
select 1,'0','0','0','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 2,'0','0','0','0','0','0','1,2,3,4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 3,'0','0','0','0','0','1,2,3,4','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 4,'0','0','0','0','1','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 5,'0','0','0','5,6,7,8,9,11,12,13,14','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 6,'0','0','0','9','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 7,'0','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 8,'0','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','0','1,2,3,4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 9,'0','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','1,2,3,4','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 10,'0','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','1','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 11,'0','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','5,6,7,8,9,11,12,13,14','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 12,'0','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','9','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 13,'0','0','0','5,6,7,8,9,11,12,13,14','0','0','1,2,3,4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 14,'0','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','5,6,7,8,9,11,12,13,14','0','0','1,2,3,4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 15,'0','1,2,3,4,5,6,8,9,10,11,12','0','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 16,'0','1,2,3,4,5,6,8,9,10,11,12','0','0','0','0','1,2,3,4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 17,'0','1,2,3,4,5,6,8,9,10,11,12','0','0','0','1,2,3,4','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 18,'0','1,2,3,4,5,6,8,9,10,11,12','0','5,6,7,8,9,11,12,13,14','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 19,'0','1,2,3,4,5,6,8,9,10,11,12','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 20,'0','1,2,3,4,5,6,8,9,10,11,12','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','0','1,2,3,4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 21,'0','1,2,3,4,5,6,8,9,10,11,12','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','1,2,3,4','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 22,'0','1,2,3,4,5,6,8,9,10,11,12','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','5,6,7,8,9,11,12,13,14','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 23,'0','9','0','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 24,'0','9','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 25,'1,2','9,10,11,12','0','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 26,'1,2','9,10,11,12','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 27,'1,2,3,4','0','0','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 28,'1,2,3,4','0','0','0','0','0','1,2,3,4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 29,'1,2,3,4','0','0','0','0','1,2,3,4','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 30,'1,2,3,4','0','0','0','1','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 31,'1,2,3,4','0','0','5,6,7,8,9,11,12,13,14','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 32,'1,2,3,4','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 33,'1,2,3,4','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','0','1,2,3,4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 34,'1,2,3,4','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','1,2,3,4','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 35,'1,2,3,4','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','1','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 36,'1,2,3,4','0','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','5,6,7,8,9,11,12,13,14','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 37,'1,2,3,4','1,2,3,4,5,6,8,9,10,11,12','0','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 38,'1,2,3,4','1,2,3,4,5,6,8,9,10,11,12','0','0','0','0','1,2,3,4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 39,'1,2,3,4','1,2,3,4,5,6,8,9,10,11,12','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 40,'1,2,3,4','1,2,3,4,5,6,8,9,10,11,12','697,710,711,712,713,714,715,716,717,721,722,723,724,725,726,727,731,732,733,734,735,736,737,738,741,742,744,747,751,752,756,757,760,761,762,763,764,765,766,767,768,769,770,771,790,798','0','0','0','1,2,3,4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 41,'0','0','741,744,747','0','0','0','1,2,3','2006-01-01','2013-07-01','1','2013-10-09' union all
select 42,'1,2','0','0','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 43,'0','0','0','0','0','0','1,2,3','2006-01-01','2013-07-01','1','2013-10-09' union all
select 44,'0','0','0','5,6,7,8,9,11,12,13,14','0','0','1,2,3','2006-01-01','2013-07-01','1','2013-10-09' union all
select 45,'0','0','0','9','0','0','3','2006-01-01','2013-07-01','1','2013-10-09' union all
select 46,'0','0','0','9','0','0','4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 47,'0','0','0','0','0','0','4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 48,'0','0','0','0','0','4','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 49,'0','0','731,732','0','0','0','4','2006-01-01','2013-07-01','1','2013-10-09' union all
select 50,'1,2,3','0','731,732','0','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 51,'1,2,3','5','731,732','9','0','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 52,'1,2,3','5','0','9','1','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 53,'1,2,3','0','0','9','1','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 54,'1','1,2,3,4,5,6,8,9,10,11,12','0','9','1','0','0','2006-01-01','2013-07-01','1','2013-10-09' union all
select 55,'1','3,5','731,732,733','5,9','1','3','3','2006-01-01','2013-07-01','1','2013-10-09' union all
select 56,'1','3,5','731,732,733,0','5,9','1','3','3','2006-01-01','2013-07-01','1','2013-10-09' ;
GO
